@keyframes scaleAnim {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.08);
  }
}

@keyframes bgAnim {
  from {
    opacity: 0;
    // transform: translateX(-100%);
  }
  to {
    opacity: 1;
    // transform: translateX(0);
  }
}

@keyframes bgAnimOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(4);
  }
}

@keyframes cursorAnimOut {
  from {
    transform: scale(4);
  }
  to {
    transform: scale(1);
  }
}

@keyframes colorBgMove {
  0% {
    background-position: 0% 50%;
    filter: blur($minBlur);
  }
  10% {
    filter: blur($maxBlur);
  }
  15% {
    filter: blur($maxBlur);
  }
  25% {
    filter: blur($minBlur);
  }
  50% {
    background-position: 100% 50%;
  }
  60% {
    filter: blur($minBlur);
  }
  70% {
    filter: blur($maxBlur);
  }
  75% {
    filter: blur($maxBlur);
  }
  85% {
    filter: blur($minBlur);
  }
  100% {
    background-position: 0% 50%;
    filter: blur($minBlur);
  }
}
