@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html, a {
    cursor: none;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @include flex-box-center();
    font-family: 'Roboto', sans-serif;
}

.cursor {
    width: 20px;
    height: 20px;
    background: rgba($black-color, 0.9);
    // border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 99;
    &:after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        background: $black-color;
        opacity: .5;
    }
    &.is-hover:after {
        animation: cursorAnim 1s forwards;
    }
    &.is-hovered:after {
        animation: cursorAnim 1s reverse forwards;
    }
}

.bg {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #2193b0;  /* fallback for old browsers */
    background: linear-gradient(to right,$blue-two-color, $blue-color);
    transition-duration: 0s;
    z-index: 1;
    .overlay {
        height: 100%;
        background:rgba($overlay-color, 0.2);
    }
}

.ready-load {
    display: none;
}