.info {
    z-index: 2;
    width: 100%;
    margin: 1em;
    padding: 0 2em 2em;
    background: rgba($light-color, 0.9);
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    .rodrigocichetto {
        margin-top: -2em;
        transform: translateZ(3em);
        text-align: center;
        .picture {
            width: 100px;
            border: 0.2rem solid rgba($light-color, 0.5);
            box-shadow: 0px 5px 50px 0px $eastern-blue, 0px 0px 0px 7px rgba(darken($eastern-blue, 7%), 0.5);
            border-radius: 50%;
        }
    }
    .personal-info {
        text-align: center;
        margin: 1em 0 0;
        display: flex;
        flex-direction: column;
        font-family: "Roboto", sans-serif;
        transform: translateZ(2.5em);
        span {
            text-align: center;
            font-size: 2em;
            font-weight: 800;
            background: linear-gradient(
                to left,
                $font-gradient-color-1,
                $font-gradient-color-2,
                $font-gradient-color-3,
                $font-gradient-color-4,
                $font-gradient-color-5,
                $font-gradient-color-6
            );
            -webkit-background-clip: text;
            background-size: 400% 400%;
            -webkit-text-fill-color: transparent;
        
            transform: scaleY(1.1);
        
            @include colorBgMotion(10000ms, 0);
        }

        .description {
            span {
                padding: 0;
                font-size: 1em;
                letter-spacing: normal;
            }
        }
    }
    .typed {
        font-size: 1.2em;
        line-height: 1.2em;
        text-align: center;
    }
    .links {
        margin-top: 2em;
        text-align: center;
        flex-wrap: wrap;
        // transform: translateZ(1.5em);
        @include flex-box-center();
        .link {
            border-radius: 50%;
            text-decoration: none;
            color: $light-color;
            background: #405de6;
            box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
            width: 2em;
            height: 2em;
            font-size: 1.5em;
            margin: 0 0.3em;
            @include flex-box-center();

            &#facebook {
                background: linear-gradient(45deg, $facebook-gradient);
                box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
            }
            &#twitter {
                background: linear-gradient(45deg, $twitter-gradient);
                box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
            }
            &#instagram {
                background: linear-gradient(45deg, $instagram-gradient);
                box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
            }
            &#linkedin {
                background: linear-gradient(45deg, $linkedin-gradient);
                box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
            }
            &#github {
                background: linear-gradient(45deg, $github-gradient);
                box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
            }
            &#medium {
                background: linear-gradient(45deg, $medium-gradient);
                box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
            }
            &#five-hundred-px {
                background: linear-gradient(45deg, $five-hundred-px-gradient);
                box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
            }
        }
        .bar {
            // float: left;
            margin: 1em 0.5em;
            width: 100%;
            height: 0.1em;
            background: $light-color;
        }
    }
}

@media (min-width: $size-sm) {
    .info {
        min-width: 40em;
        width: auto;
        margin: 0;
        .rodrigocichetto {
            text-align: left;
            @include flex-box-center();
        }
        .personal-info {
            text-align: left;
            span {
                font-size: 4em;
                letter-spacing: -5px;
                padding: 0 1em 0 0;
            }
            .description {
                span {
                    font-size: 2em;
                }
            }
        }
        .links {
            flex-wrap: unset;
            .link {
                flex: 1;
                width: 3em;
                height: 3em;
                font-size: 1.5em;
                margin: 0 0.6em;
            }
            .bar {
                width: 0.1rem;
                height: 5rem;
                background: $light-color;
            }
        }
    }
}
