.info {
    z-index: 2;
    min-width: 50em;
    padding: 0 2em 2em;
    background: $light-color;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    .rodrigocichetto {
        margin-top: -5em;
        transform: translateZ(3em);
        .picture {
            width: 150px;
            border: 0.2rem solid rgba($light-color, 0.5);
            // box-shadow: 0px 1px 5px 0px rgba(#000, 0.75);
            box-shadow: 0px 5px 50px 0px $blue-color, 0px 0px 0px 7px rgba(darken($blue-color, 7%), 0.5);
            border-radius: 50%;
        }
    }
    .personal-info {
        display: flex;
        flex-direction: column;
        font-family: "Roboto", sans-serif;
        transform: translateZ(2.5em);
        span {
            text-align: center;
            font-size: 4.5em;
            padding: 0 1em 0 0;
            // line-height: 7em;
            letter-spacing: -5px;
            font-weight: 800 !important;
            background: linear-gradient(
                to left,
                #d356bc,
                #09d6b7,
                #d356bc,
                #ecc357,
                #e16c5a,
                #ecc357
            );
            -webkit-background-clip: text;
            background-size: 400% 400%;
            -webkit-text-fill-color: transparent;
        
            transform: scaleY(1.1);
        
            @include colorBgMotion(10000ms, 0);
        }

        .description {
            span {
                padding: 0;
                font-size: 2em;
                letter-spacing: normal;
            }
        }
    }
    .typed {
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
    }
    .links {
        margin-top: 2rem;
        text-align: center;
        flex-wrap: wrap;
        @include flex-box-center();
        .link {
            // float: left;
            flex: 1 0 21%;
            width: 3rem;
            height: 3rem;
            margin: 0 0.4rem;
            color: $light-color;
            border: 0.1rem solid $light-color;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            text-decoration: none;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
            @include flex-box-center();
            &:hover {
                background: $light-color;
                color: $black-color;
            }
        }
        .bar {
            // float: left;
            margin: 1rem 0.5rem;
            width: 100%;
            height: 0.1rem;
            background: $light-color;
        }
    }
}

@media (min-width: 400px) {
    .info {
        .links {
            flex-wrap: unset;
            .link {
                flex: 1;
            }
            .bar {
                width: 0.1rem;
                height: 4rem;
                background: $light-color;
            }
        }
    }
    
}

@media (min-width: $size-sm) {
    .info {
        .rodrigocichetto {
            text-align: left;
            @include flex-box-center();
        }
        .links {
            .link {
                width: 4rem;
                height: 4rem;
                font-size: 2rem;
                margin: 0 0.5rem;
            }
            .bar {
                height: 5rem;
            }
        }
    }
}