.bg {
    &-in {
        animation: bgAnim .5s ease-in-out forwards;
    }
    &-out {
        animation: bgAnimOut .5s ease-in-out forwards;
    }
}

.bg-image {
    background-position: center;
    background-size: cover;
    transition-duration: 0s;
    transition: background-image 0.3s ease-in-out;
}

.bg-dev {
    background-image: url('../assets/bg-dev.jpg');
    @include animateBg();
    &--mobile {
        background-position: 68%;
    }
}

.bg-photographer {
    background-image: url('../assets/bg-photographer.jpg');
    @include animateBg();
}

.bg-medium {
    background-image: url('../assets/bg-medium.jpg');
    @include animateBg();
}

.bg-instagram {
    background-image: url('../assets/bg-instagram.jpg');
    @include animateBg();
    &--mobile {
        background-position: 70% 10%;
    }
}

.bg-facebook {
    background-image: url('../assets/bg-facebook.jpg');
    @include animateBg();
    &--mobile {
        background-position: 47%;
    }
}

.scale-animation {
    transition: all 0.3s ease-in-out;
    animation: scaleAnim 1s ease alternate;
}
