.tag {
  font-family: $font-tags;
  color: $light-color;
  opacity: 0.4;
  font-weight: lighter;
  font-size: 1em;
  position: absolute;
  z-index: 9;

  // body
  &__body {
    left: 1em;
  }
  &#body-in {
    top: 1em;
  }
  &#body-out {
    bottom: 1em;
  }

  // main
  &__main {
    left: 1em;
  }
  &#main-in {
    top: -1.5em;
  }
  &#main-out {
    bottom: -1.6em;
  }

  // main
  &__title {
    color: $black-color;
    left: 1em;
    @media (min-width: $size-sm) {
      left: 0.1em;
    }
  }
  &#title-in {
    top: -1.5em;
  }
  &#title-out {
    bottom: -1.6em;
  }
}
