$light-color: #FFF;
$black-color: #222;
$overlay-color: #333;
$eastern-blue: #2193b0;
$sky-blue: #6dd5ed;

$facebook-gradient: (
    #3b5998, 
    #0078d7
);

$twitter-gradient: (
    #1da1f2, 
    #0e71c8
);

$instagram-gradient: (
    #405de6, 
    #5851db, 
    #833ab4, 
    #c13584, 
    #e1306c, 
    #fd1d1d
);

$linkedin-gradient: (
    #3BA0E3, 
    #236FAD
);

$github-gradient: (
    #333333, 
    #626b73
);

$medium-gradient: (
    #324e63, 
    #414447
);

$five-hundred-px-gradient: (
    #d5135a, 
    #f05924
);

$font-main: 'Roboto', sans-serif;
$font-tags: 'Indie Flower', cursive;

$font-gradient-color-1: #d356bc;
$font-gradient-color-2: #09d6b7;
$font-gradient-color-3: #d356bc;
$font-gradient-color-4: #ecc357;
$font-gradient-color-5: #e16c5a;
$font-gradient-color-6: #ecc357;

$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1120px;

$minBlur: 0px;
$maxBlur: 3px;
