$light-color: #FFF;
$black-color: #222;
$overlay-color: #333;
$blue-color: #2193b0;
$blue-two-color: #6dd5ed;

$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1120px;

$minBlur: 0px;
$maxBlur: 3px;